@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap');

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family:'Outfit', sans-serif;
  background-color: hsl(30, 54%, 90%);
  line-height: 1.6;
}

.container {
  width: 570px;
  margin: 50px auto;
  padding: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
}

@media(max-width:570px) {
  .container {
    width: 100%;
    margin: 0;
  }
}

img {
  width: 100%;
  border-radius: 10px;
}

h1, h2 {
  font-family: 'Young Serif', sans-serif;
}

h2 {
  color: hsl(14, 45%, 36%);
}

p {
  font-size: 14px;
  font-weight: 300;
}

.fw-bold {
  font-weight: bold;
  color: hsl(30, 10%, 34%);
}

.rose-bg {
  background-color: hsl(330, 100%, 98%);
  padding: 15px;
  border-radius: 10px;
}

.rose-bg h3 {
  color: hsl(332, 51%, 32%);
}

.preparation li::marker {
  color: hsl(332, 51%, 32%);
}

.ingredients li::marker, .instructions li::marker {
  color: hsl(14, 45%, 36%);
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding: 14px;
}

tr, td {
  padding: 5px;
}

tr td:nth-child(2) {
  font-weight: bold;
  color: hsl(14, 45%, 36%);
}

tr:not(:last-child) td{
  border-bottom: 0.2px solid;
}